<h1>Team Ruby</h1>

<h1>Team Motto: <%=@team_motto%>


    <%@team_members.each do |hero|%>
 <h1>Hero Name: <%=hero["name"]%></h1>
 <p>Hero Power: <%=hero["power"]%></p>
 <p>Hero Biography: <%=hero["bio"]%></p>
 <% end %>









